[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
flask = "*"
escape = "*"
request = "*"
bs4 = "*"
requests = "*"
colorama = "*"
python-dotenv = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
